{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>How I met Corona</title>
        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        {% if js_data %}
        <script>
            window.data = {{ js_data|safe }};
        </script>
        {% endif %}

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="menu">
                {% if not hide_logo_menu %}
                    <div class="logo-container logo-container--small">
                        <a href="{% url 'core:home' %}">
                            <img src="{% static 'images/world_map.png' %}" class="logo-container__logo logo-container__logo--small" />
                        </a>
                    </div>
                {% endif %}
                <a class="menu__item" href="{% url 'core:home' %}">Home</a>
            </div>

            {% block content %}{% endblock %}

            <div class="footer">
                <a class="footer__link" href="{% url 'core:delete' %}">Delete my data</a>&emsp;|&emsp;<a class="footer__link" href="https://nico.is/impressum/" target="_blank">Imprint</a>
            </div>
        </div>
    </body>
</html>
