{% extends 'core/base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock styles %}

{% block head %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'scripts/truncate_file.js' %}"></script>
    <script src="{% static 'scripts/datepicker.js' %}"></script>
    <script src="{% static 'scripts/fileupload.js' %}"></script>
{% endblock %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message message--{{ message.level }}">
                {{ message.message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form__wrapper">
        <form class="form{% if not form.visible_fields %} form--hidden{% endif %}" method="post"
              enctype="multipart/form-data">
            <h3 class="form__title">{{ title }}</h3>

            <div class="django-form">
                <div class="form__fields">
                    {% if form.non_field_errors %}
                        <div class="form__field form__field--error">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        {% if field.field.widget.input_type == 'file' %}
                            <label for="id_{{ field.name }}">
                                {{ field.label }}
                                <a class="file-info" href="https://takeout.google.com/settings/takeout/custom/location_history" target="_blank">
                                </a>
                            </label>

                            <div class="file-upload">
                                <div class="file-upload-wrap">
                                    <input class="file-upload-input" required id="id_{{ field.name }}" name="{{ field.name }}" type="file" onchange="readURL(this);"/>
                                    <div class="drag-text">
                                        Drag and drop a file
                                    </div>
                                </div>
                                <div class="file-upload-content">
                                    <div class="file-title-wrap">
                                        <span class="file-title">Uploaded File</span>
                                        <button type="button" onclick="removeUpload()" class="remove-file">Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="form__field{% if field.errors %} form__field--error{% endif %}{% if field.is_hidden %} form__field--hidden{% endif %}{% if field.field.required %} form__field--required{% endif %}">
                                {% if not field.is_hidden %}
                                    {{ field.label_tag }}
                                {% endif %}

                                {% if field.name == 'symptoms_at' %}
                                    <input type="text" id="id_{{ field.name }}" name="{{ field.name }}" size="30" placeholder="YYYY-MM-DD" autocomplete="off" required>
                                {% else %}
                                    {{ field }}
                                {% endif %}

                                {% if not field.is_hidden %}
                                    {{ field.errors }}
                                {% endif %}

                                {% if not field.is_hidden and field.help_text %}
                                    <div class="field__note">
                                        {{ field.help_text }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% csrf_token %}

            <div class="button-bar">
                {% block form_buttons %}
                    <input class="button button--form" type="submit" name="_submit" value="Submit">
                {% endblock %}
            </div>
        </form>
    </div>
{% endblock %}
