{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="logo-wrapper">
        <div class="logo-container">
            <img src="{% static 'images/world_map.png' %}" width="200" class="logo-container__logo" />
        </div>
        <h4 class="logo-wrapper__title">How I Met Corona</h4>
    </div>
    <div class="home__cta">
        <a href="{% url 'core:report' %}" class="btn">Report infected points</a>
        <a href="{% url 'core:check' %}" class="btn">Check your points</a>
    </div>


{% endblock %}
