{% extends 'core/form.html' %}


{% block content %}
    {{ block.super }}

    <script>
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            // Great success! All the File APIs are supported.
          console.log('YESSSS');
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }
    </script>

<input type="file" onchange="readFile(this)">

<script>
  function readFile(input /*, onSuccess, onError*/) {
    let file = input.files[0];

    let reader = new FileReader();

    reader.readAsText(file);

    reader.onload = function() {
      const fromTimestamp = Date.now() - 14 * 24 * 60 * 60 * 1000;  // 14 Tage daten in ms

      let locations = JSON.parse(reader.result)['locations'];
      locations = locations.filter((visitedPoint) => {
        return parseInt(visitedPoint.timestampMs) >= fromTimestamp;
      });

      /*
      const blob = new Blob(
          [JSON.stringify({'locations': locations})],
          {type: "application/json"}
      );
        */
      //onSuccess()
      console.log(locations);
    };

    reader.onerror = function() {
      //onError(reader.error);
    };

  }
</script>


{% endblock %}
