{% extends 'core/base.html' %}

{% load static %}

{% block head %}
    <script>
      function copyToClipboard() {
        var copyText = document.getElementById("textToCopy");
        var copyBtn = document.getElementById("btnCopy");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        copyBtn.innerText = 'Copied!';
      }
    </script>
{% endblock %}

{% block content %}
    <div class="logo-wrapper">
        <div class="logo-container logo-container--success">
            <img src="{% static 'images/thank_you.png' %}" class="logo-container__logo"/>
        </div>
        <h3 class="logo-wrapper__title logo-wrapper__title--success">
            Thank You
        </h3>
        <p>
            We really appreciate that you shared your information. <br>
            We hope you'll get better soon!
        </p>

        <p>
            In case you decide to remove your uploaded data later on,
            you can use this key to do so:
        </p>
        <div class="upload-id__wrapper">
            <input id="textToCopy" class="upload-id" value="{{ upload_id }}" readonly width="100%">
            <button onclick="copyToClipboard()" id="btnCopy" class="button button--upload">Copy key</button>
        </div>
        <p>Please store this key somewhere secure.</p>
    </div>

{% endblock content %}
