.button {
    background-color: #74AF5B;
    color: white;
    min-width: 210px;
    text-align: center;
    outline: none;
    padding: 12px 0px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px 15px;
    transition: background-color 0.25s;
    font-size: 15px;
    border: 0px;

    &:hover {
        background-color: #5D913B;
        cursor: pointer;
    }

    &--form {
        background-color: #55ACEE;
        float: right;
        margin: 0px;
        min-width: auto;
        padding: 12px 20px;

        &:hover {
            background-color: #4c9ad6;
        }
    }

    &--upload {
        min-width: 130px;
        padding: 12px 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin: 0px;
    }
}

