html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f4;
    font-family: 'Lato', sans-serif;
}

.logo-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        color: #4c9ad6;
        margin: 10px;
    }
}

.logo-container {
    width: 150px;
    height: 150px;
    border: 2px solid #88C9F9;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
        width: 120px;
    }
}

.map {
    height: calc(100% - 50px);
}
